<div class="mt-4">
  <div class="d-flex justify-content-between">
    <app-title></app-title>

    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="background-secondary d-flex justify-content-center align-items-center" style=" width: 50px; height: 50px; border-radius: 100%; color: white;">
          HD
        </span>
        <span class="color-primary d-none d-sm-inline mx-1">John Doe</span>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="d-flex align-items-center">
    <div style="width: 33%">
      <app-date-filter></app-date-filter>
    </div>

    <div>
      <app-action-buttons></app-action-buttons>
    </div>
  </div>
</div>

<app-content-table></app-content-table>
<app-detail></app-detail>
