.action-btn {
  height: 45px;
  color: #fff;
  font-size: 14px;
  border-radius: 22.5px;
  background: linear-gradient(209.23deg, #5E33CE -49.55%, #1E0B50 82.75%), #5E33CE;
  cursor: pointer;
  border: none;
}



