<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detailModalLabel">Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque distinctio eaque harum id inventore ipsa laudantium, molestiae numquam obcaecati quisquam sed, sit tempora tempore velit voluptatibus. Commodi consectetur fugiat quisquam?
      </div>
      <div class="modal-footer">
        <button type="button" class="background-grey text-white border-0 rounded-2 p-2" data-bs-dismiss="modal">Close</button>
        <button type="button" class="background-primary text-white border-0 rounded-2 p-2">Save changes</button>
      </div>
    </div>
  </div>
</div>

