<div id="date-filter">
  <mat-form-field class="color-primary w-75" style="font-size: 14px;">
    <mat-label id="date-filter-label" class="d-flex align-items-center">
      Enter a date range
      <span class="material-symbols-outlined">arrow_drop_down</span>
    </mat-label>
    <mat-date-range-input  [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>

    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon class="color-primary" matDatepickerToggleIcon>calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>

