ul > li > a {
  color: #031050;
  opacity: 0.5;
  text-decoration: none;
  width: 235px;
  height: 55px;
  font-weight: 500;
}

ul > li > a.active {
  background-color: #031050;
  opacity: 1;
  color: #ffffff;
  border-left: 5px solid #FF13B8;
}

a.active svg .target {
  fill: #FF13B8;
}
