#content-table {

  .border-left-9 {
    border-top-left-radius: 9px;
  }

  .border-right-9 {
    border-top-right-radius: 9px;
  }

  table thead tr th {
    background-color: #031050 !important;
    color: #F8FCFF !important;
  }

  .fs-16 {
    font-size: 16px;
  }

}

